@import "../../global.css";

.buttom-prev {
    color: var(--text-color-secundary);
    border: none;
    background: transparent;
    font-size: var(--text-font-size-pagination);
    font-weight: var(--text-font-weight-pagination);
    cursor: pointer;
}

.buttom-next {
    color: var(--text-color-secundary);
    border: none;
    background: transparent;
    font-size: var(--text-font-size-pagination);
    font-weight: var(--text-font-weight-pagination);
    cursor: pointer;
}

nav > ul  {
    list-style:none;
    display: inline-block;
    padding: 0;
}
.pagination {
    display: flex;
    padding-top: 36px;
    position: block;
    align-self: start;
    margin-left: 7%;
}

nav > p {
    color: var(--text-color-secundary);
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    border: none;
    font-weight: var(--text-font-weight-pagination);
    line-height: 19px;
    font-size: var(--text-font-size-pagination);
    padding: 16px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

.p-border {
    border: 1px solid var(--text-color-primary-and-border);
   border-radius: 50%;
}

@media screen and (max-width: 850px) {
    .pagination {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
    }
}