@import "../../global.css";

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 8%;
    padding-bottom: 31px;
}

.search > input {
    background: none;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: var(--text-color-primary-and-border) 2px solid;
    margin: 0 30px;
    height: 32px;
    width: calc(37% - 62px);
    font-size: var(--text-font-size-search);
    font-family: 'Montserrat';
    font-weight: var(--text-font-weight);
    color: var(--text-color-primary-and-border);
    outline: none;
}

.search > input::placeholder {
    color: var(--text-color-primary-and-border);
    text-align: left;
    font-family: 'Nunito', sans-serif;
}

.icone-search {
    width: 23px;
    height: 23px;
    border: 3px solid var(--text-color-primary-and-border);
    border-radius: 50%;
    position: relative;
  }
  
.icone-search:after {
    position: absolute;
    width: 50%;
    height: 3px;
    background: var(--text-color-primary-and-border);
    display: block;
    content: "";
    top: 1%;
    left: 1%;
    transform: rotate(45deg);
    transform-origin: -10px 40px; 
}

@media screen and (max-width: 850px) {
    .search {
        width: 550px;
        margin-left: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
    }   
    .search > input {
        width: calc(50% - 2px);
    } 
}

@media screen and (max-width: 750px) {
    .search {
        width: 550px;
        padding-bottom: 20px;
        padding-top: 20px;
    }   
    .search > input {
        width: calc(50% - 2px);
    } 
}

