.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 8%;
    padding-bottom: 31px;
}

.search > input {
    background: none;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: #00DFDD 2px solid;
    margin: 0 30px;
    height: 32px;
    width: calc(40% - 62px);
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #00DFDD;
    outline: none;
}

.search > input::placeholder {
    color: #00DFDD;
    text-align: left;
    font-family: 'Nunito', sans-serif;
}

.icone-search {
    width: 23px;
    height: 23px;
    border: 3px solid #00DFDD;
    border-radius: 50%;
    position: relative;
  }
  
.icone-search:after {
    position: absolute;
    width: 50%;
    height: 3px;
    background: #00DFDD;
    display: block;
    content: "";
    top: 1%;
    left: 1%;
    
    transform: rotate(45deg);
    transform-origin: -10px 40px; 
}

@media screen and (max-width: 580px) {
    .search {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 500px;
        margin-left: 50px;
        padding-bottom: 15px;
    }    

    .icone-search {
        width: 23px;
        height: 23px;
        border: 3px solid #00DFDD;
        border-radius: 50%;
        position: relative;
      }
      
    .icone-search:after {
        position: absolute;
        width: 50%;
        height: 3px;
        background: #00DFDD;
        display: block;
        content: "";
        top: 1%;
        left: 1%;
        
        transform: rotate(45deg);
        transform-origin: -10px 40px; 
    }
}

